@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to ChatApp!</h2>

<!-- Button to start a chat by entering an email -->
<a class="btn btn-success" asp-controller="Chat" asp-action="EnterEmail">
    Chat with a user by email
</a>
